[package]
name = "diavolo-ws-message"
version.workspace = true
edition.workspace = true
publish.workspace = true
repository.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
url = "2.5.7"
